<!DOCTYPE html>
<html>
<head>
	<title>SAFARI LETRAS</title>
</head>
<body>

<form action="/safari">

	<input type="text" name="letra"/>
    <input type="submit" name="enviar" value="enviar">

    <%=@@mensaje%>


</form>

</body>
</html>